<section class="px-2 px-lg-5 pt-9 pt-lg-10">
   <div class="container-fluid bg-light rounded-5 py-5 py-xl-7 px-3 p-lg-5">
      <div class="container">
         <div class="row">

            <div class="col-lg-7">
               <h3 class="h1">Lass uns gemeinsam kreative Lösungen entwicklen.</h3>
               <button type="button" data-bs-toggle="modal" data-bs-target="#contactModal" class="btn btn-violet pulse mt-4">Anfragen</button>

            </div>

            <div class="offset-lg-1 col-lg-4 pt-5 pt-lg-3">
                  {% for member in members %}
                     <ul class="list-unstyled {% if loop.index == 2 %}py-4{% endif %}">
                           <li class="text-uppercase"><b>{{member.title ?? null}}</b></li>
                           <li>{{member.teamSubline ?? null}}</li>
                           <li>{{member.memberStreet ?? null}} | {{member.memberLocation ?? null}}</li>
                     </ul>
                  {% endfor %}
            </div>

         </div>
      </div>
   </div>
</section>

<section class="px-2 px-lg-5 pt-95 pt-5 pb-3 py-lg-5">
   <div class="container-fluid">
      <div class="row mt-3 mt-lg-0 d-flex justify-content-between align-items-center">

         <div class="col-xl-4">
            <p class="small">Grafikbuam. – ist ein gemeinsamer Webauftritt der Einzelunternehmen Clemens Kerber, Pedro Lucillo & Nino Lucillo. Jeder Einzelunternehmer handelt wirtschaftlich und haftungsrechtlich selbständig.
            </p>
         </div>

         <div class="col-auto">
            <div class="rounded-4 p-3 border border-light">
               {# <h4 class="h5 mb-4">Wir sind spezialisiert auf komplexe Projekte mit</h4> #}
               <a href="https://craftcms.com" alt="Craft CMS Website" title="Craft CMS Website - by Pixel & Tonic" target="_blank" rel="nofollow"><img class="pointer" src="/assets/img/_system/logo-craft-cms.svg" style="max-width:120px" width="100%"/></a>
            </div>
         </div>

      </div>
   </div>
</section>

<section class="px-2 px-lg-5 mb-9 mb-lg-3">
   <div class="container-fluid">
      <div class="row d-flex justify-content-between small">
         <div class="col-md-6">
            ©{{now|date('yy')}} – Künstlerkollektiv <b>GRAFIKBUAM</b> aus Rosenheim & Innsbruck
         </div>
         <div class="col-md-6 text-md-end pt-3 pt-md-0">
             {% for slug, item in nav.footer %}
               <a class="text-dark" href="{{ url(slug) }}">{{item.title}}</a>
               {% if loop.index == 1 %}|{% endif %}
            {% endfor %}    
         </div>
      </div>
   </div>
</section>
