<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{{companyLogo.getUrl ?? null}}" width="300" height="150" class="object-fit__cover" alt="{{siteName}}{{ companyLogo.title ? ' - ' ~ companyLogo.title : null}}">
        </div>
        <div class="col-lg-8 d-flex justify-content-end align-items-center">
            <ul class="list-unstyled">
                {% for slug, item in nav.main %}
                    <li class="d-inline mx-16"><a href="{{slug}}" class="text-decoration-none">{{item.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>