{% apply spaceless %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ currentSite.language }}">
	<head>

		{# system partials #}
		{% include '_system/_meta' %}
		{% include '_system/_seo' %}
		{% include '_system/_favicons' %}
		{% cache %}
		{# preload fonts #}
		<link rel="preload" href="/assets/fonts/Mulish-Black.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/assets/fonts/Mulish-Regular.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/assets/fonts/NotoSans-Bold.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/assets/fonts/NotoSans-Medium.woff" as="font" type="font/woff" crossorigin>
			
		{% endcache %}
		

		{% set placeholderImg = "https://source.unsplash.com/1800x1000/?creative" %}

		{% block head %}{% endblock %}


    	{# min css for production #}
		{% if devMode %}
			<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		{% else %}
		{% cache %}
			
			<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		{% endcache %}
		
		{% endif %}
		{# sprig #}
		<script src="/assets/js/htmx.min.js" defer></script>
		{#<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/popper.min.js"></script>#}

	</head>
	<body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %} position-relative">
		{% embed "_components/_nav" %}{% endembed %}
		{% embed "_components/_contactModal" %}{% endembed %}

		{# defined in _layout/site #}
		{% block body %}{% endblock %}

		{% block foot %}{% endblock %}

	</body>

	<script>
		window.onscroll = function() {scrollFunction()};
		var header = document.getElementById("js-header");
		var logo = document.getElementById("js-logo")

		function scrollFunction() {
		if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
			logo.style.width = ("150px");
			header.classList.remove("py-4", "shadow-sm");
			header.classList.add("py-3", "shadow");
		} else {
			logo.style.width = ("180px");
			header.classList.add("py-4", "shadow-sm");
			header.classList.remove("py-3", "shadow");
		}
		};
	</script>


			{#<script src="{{ url('/assets/js/plugins/tiny-slider.js') }}"></script>#}
			<!--[if (lt IE 9)]><script src="{{ url('/assets/js/plugins/tiny-slider.helper.ie8.js') }}"></script><![endif]-->

			{# master js #}
			{% if devMode %}
				<script type="module" src="{{ url('/assets/js/index.module.js') }}"> </script>
				<script nomodule src="{{ url('/assets/js/index.es5.js') }}" async></script>
			{% else %}
				<script type="module" src="{{ url('/assets/js/index.module.min.js') }}"></script>
				<script nomodule src="{{ url('/assets/js/index.es5.min.js') }}" async></script>
			{% endif %}

			{# Safari Fix -> https://gist.github.com/samthor/64b114e4a4f539915a95b91ffd340acc #}
			<script>
				(function () {
				var check = document.createElement('script');
				if (!('noModule' in check) && 'onbeforeload' in check) {
				var support = false;
				document.addEventListener('beforeload', function (e) {
				if (e.target === check) {
				support = true;
				} else if (! e.target.hasAttribute('nomodule') || ! support) {
				return;
				}
				e.preventDefault();
				}, true);

				check.type = 'module';
				check.src = '.';
				document.head.appendChild(check);
				check.remove();
				}
				}());
			</script> 

			{# Custom Properties Polyfill #}	
			<script>
				window.MSInputMethodContext && document.documentMode && document.write('<script src="/assets/js/ie11custom-properties.es5.js"><\x2fscript>');
			</script> 

</html>
{% endapply %}