<div id="menu">
    <ul class="p-0">
    {% for slug, item in nav.main %}
        {% if slug == 'kontakt' %}
        <li class="">
            <a data-bs-toggle="modal" data-bs-target="#contactModal">
                <span class="h1 burger-menu__link">{{ item.title }}</span>
            </a>
        </li>
        {% else %}
        <li class="">
            <a href="{{ url(slug) }}">
                <span class="h1 burger-menu__link {{craft.app.request.getSegment(1) == slug ? 'text-violet' : null}} {{'/' ~ craft.app.request.pathInfo == slug ? 'text-violet' : null}}">
                    {{ item.title }}
                </span>
            </a>
        </li>
        {% endif %}

    {% endfor %}    
    </ul>

</div>

