<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content">
			<div class="modal-body p-0 position-relative">
                <button type="button" style="position:absolute; left:1rem; top:1rem" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 p-5 p-lg-6">
                            <h2 class="">Wir, gemeinsam <br>mit dir!</h2>
                            <h3 class="h4">Sende uns eine Nachricht und wir kümmern uns schnellstmöglich um dein Anliegen.</h3>
                            <div class="mt-5">
                                {% embed "_components/_form" %}
                                {% endembed %}
                            </div>
                        </div>
                        <div class="col-lg-4 bg-dark p-5 p-lg-6 text-light d-flex flex-column">
                            <img src="/assets/img/_system/gb_typo_white.svg" class="mb-4" width="80%" style="max-width: 250px" alt="{{'Grafikbuam - Webdesigner und Grafiker - Logo'}}">
                            <div class="d-none d-lg-block">
                                {% for member in members %}
                                    <ul class="list-unstyled fs-6 pt-4">
                                        <li class="text-uppercase">{{member.title ?? null}}</li>
                                        <li>{{member.memberStreet ?? null}}</li>
                                        <li>{{member.memberLocation ?? null}}</li>
                                        <li><a class="text-light" href="mailto:{{member.memberMail ?? null}}">{{member.memberMail ?? null}}</a></li>
                                        <li><a class="text-light" href="phone:{{member.memberPhone ?? null}}">{{member.memberPhone ?? null}}</a> </li>
                                        <li><a class="text-light" href="https://{{member.memberWeb ?? null}}" target="_blank">{{member.memberWeb ?? null}}</a></li>
                                    </ul>
                                {% endfor %}
                            </div>
                            <div class="fs-6 mt-auto">
                                <a class="text-light" href="">Datenschutz</a> | 
                                <a class="text-light" href="">Impressum</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
