{% set image = image ?? null %}
{% set imageAlt = imageAlt ?? null %}
{% set height = height ?? null %}


<div class="container-fluid px-0 position-relative">
    <img src="{{image.getUrl ?? null}}" width="1024" class="w-100 {{height == null ? 'hero_50' : 'hero_100'}} object-fit__cover" alt="{{imageAlt ?? null}}">
    {% if height == 'full' %}
        <div class="position-absolute top-50 start-50 translate-middle text-center w-75">
            <h1 class="text-white">{{entry.headline ?? null}}</h1>
            <p class="text-white">{{entry.subline ?? null}}</p>
        </div>
    {% endif %}
</div>