{% set blogEnties = craft.entries.section('blogEntries').relatedTo(member) %}
<div class="offcanvas offcanvas-end" style="z-index:9999" tabindex="-1" id="canvas{{member.id}}" aria-labelledby="canvas{{member.id}}Label">
    <div class="offcanvas-header p-3 d-none d-lg-block">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body px-5 pt-5 pt-lg-0 pb-lg-4 text-center">
        <div class="bg-dark rounded-circle mx-auto overflow-hidden ratio ratio-1x1 w-50" style="display:inline-table">
            <img src="{{memberImage.getUrl()}}" height="100%" class="object-fit__cover" alt="{{member.title ~ member.teamSubline}}">
        </div>
        <h2 class="h4 mt-4">{{member.title ?? null}}</h2>
        <p class="small">{{member.teamSubline ?? null}}</p>
        <div class="py-3">
            {% for item in memberSkills.all() %}
                <a class="btn btn-petrol btn-sm text-white" href="{{item.getUrl}}">{{item.title}}</a>
            {% endfor %}
        </div>

        <div class="mt-auto">
            {% if blogEnties %}
                <p class="fs-6">Aktuelle Beiträge</p>
                {% for entry in blogEnties.all() %}
                    <a class="text-decoration-none" href="{{entry.getUrl}}">
                        <div class="blog_thumb__canvas rounded-3 p-4">
                            <h4 class="h6 text-dark">{{entry.title}}</h4>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mt-auto pt-3">
            <h6>Kontakt</h6>
            <ul id="canvas-impressum">
                <li>{{member.memberStreet ?? null}}</li>
                <li>{{member.memberLocation ?? null}}</li>
                <li>t. <a class="text-dark" href="phone:{{member.memberPhone ?? null}}">{{member.memberPhone ?? null}}</a></li>
                <li>m. <a class="text-dark" href="mailto:{{member.memberMail ?? null}}">{{member.memberMail ?? null}}</a></li>
            </ul>
        </div>
    </div>
    <div class="offcanvas-header px-3 pb-4 d-lg-none shadow-lg">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
</div>