{# index #}
{% extends "_layout/site" %}
{% set projectEntries = craft.entries.section('projects') %}
{% block main %}

{% css %}
    .project-card {
        width: 100;
        position: relative;
        overflow: hidden;
        transition: 0.5s
    }
    .project-card img {
        filter: brightness(0.9);
        transition: 0.5s
    }
    .project-card__title {
        position: absolute;
        left: 0;
        top: 80%;
        color: white;
        width: 100%;
        text-align: center;
        transition: 0.4s
    }
    .project-card__title .project-card__headline {
        margin-bottom: 5rem;
        text-transform: uppercase;
        transition: margin-bottom 0.4s
    }
    .project-card:hover .project-card__title {
        top: 78%;
        transition: 0.4s
    }
    .project-card:hover img{
        filter: brightness(0.7);
        transition: 0.5s
    }
    .project-card:hover .project-card__headline {
        margin-bottom: 0.5rem;
        transition: margin-bottom 0.4s
    }
{% endcss %}


<section class="pt-14">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="mb-2 text-primary">{{'Grafikbuam. Projekte'}}</h1>
            </div>
        </div>
        <div class="row mt-8 g-4">
            {% for item in projectEntries %}
            {% set customer = item.customer.one() %}
            {% set previewImage = item.previewImage.one() %}
                <div class="col-md-6 col-xxl-4 position-relative">
                    <div class="project-card">
                        <a href="{{item.getUrl()}}" title="{{ item.title ?? '' }}">
                            <img src="{{previewImage.getUrl()}}" width="" height="500" class="object-fit__cover w-100 rounded-4" alt="{{ previewImage.alt ?? previewImage.title ?? '' }}" title="{{ previewImage.title ?? '' }}">
                            <div class="project-card__title px-6">
                                <h2 class="h4 project-card__headline text-white">{{item.title ?? null}}</h2>
                                <div class="project-card__subline">{{customer.title ?? null}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}