{% set headline = content.headline ?? null %}
{% set subline = content.subline ?? null %}
{% set text = content.text ?? null %}
{% set gallery = content.gallery ?? null %}


{# sliderSettings #}
{% set sliderName = "js-slider-" ~ opt.sliderName ?? 'default' %}
{% set sliderControls = sliderName ~ '--controls' %}
{% set sliderControlsPrev = sliderName ~ '--controls-prev' %}
{% set sliderControlsNext = sliderName ~ '--controls-next' %}

   <div class="container position-relative">
      <div class="row align-items-center">
         <div class="col-xl-5">
            <div id="js-slider-about-us">
            
               {% for image in gallery %}
               {% set img = image.url %}
               <div class="item rounded-5">
                  <img {#id="jsAbout"#} data-trig class="object-fit__cover rounded-5" src="{{ img }}" width="100%" height="500px"/>
               </div>
               {% endfor %}


            </div>
               {# sliderControls #}
               <div id="{{ sliderControls }}" class="tns-controls d-none d-lg-flex position-absolute start-0 pt-5 ps-4">
                  <div id="{{ sliderControlsPrev }}" class="btn-prev">
                     <img src="/assets/img/_system/prev.svg" width="65px" alt="{{'Grafikbuam - Webdesigner und Grafiker - Prev Icon'}}">
                  </div>
                  <div id="{{ sliderControlsNext }}" class="btn-next pt-3 pt-xl-4">
                     <img src="/assets/img/_system/next.svg" width="65px" alt="{{'Grafikbuam - Webdesigner und Grafiker - Next Icon'}}">
                  </div>
               </div>
         </div>
         <div class="col-xl-7 p-4 p-lg-7">
            <h1 class="text-primary">{{ headline }}</h1>
            <h5>{{ subline }}</h5>
            <p class="pt-4">{{ text|nl2br }}</p>
         </div>
      </div>
   </div>