{% set headline = content.headline ?? null %}
{% set text = content.text ?? null %}

{% set portfolio = craft.entries.section('portfolio')
   .all 
   %}

{# sliderSettings #}
{% set sliderName = "js-slider-" ~ opt.sliderName ?? 'default' %}
{% set sliderControls = sliderName ~ '--controls' %}
{% set sliderControlsPrev = sliderName ~ '--controls-prev' %}
{% set sliderControlsNext = sliderName ~ '--controls-next' %}

<div class="mx-5">
   <div class="container-fluid bg-dark rounded-5 p-4 p-lg-7 text-white">
      <div class="container">
         <div class="row pb-7">
            <div class="col-6">
               <h3 class="h1">{{ headline }}</h3>
            </div>
            <div class="col-6">
               <p{{ text }}</p>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid px-0 position-relative mt-n7">
   <div id="{{ sliderName }}" class="d-flex">

      {% for item in portfolio %}
         {% set title = item.title ?? null %}
         {% set portfolioSubtitle = item.portfolioSubtitle ?? null %}
         {% set link = item.portfolioUrl ?? null %}
         {% set image = item.portfolioImage.one() ?? null %}
         <div class="item">
            <a href="{{link}}" target="_blank" alt="{{title ~ '-' ~ portfolioSubtitle}}" title="{{'Details' ~ ' ' ~ title ~ ' anzeigen'}}">
               <div class="{% if item.backgroundSwitch %} bg-dark {% else %} bg-light{% endif %} py-5 portfolio_card" style="height: 250px;">
                  <div class="portfolio_card__overlay">
                     <div class="portfolio_card__title p-4">
                        <h4>{{ title ?? null }}</h4>
                        <p>{{ portfolioSubtitle ?? null }}</p>
                     </div>
                  </div>
                  <img src="{{ image.url() }}" width="100%" class="mx-auto px-4" style="object-fit:contain" alt="{{image.title ?? null}}">
               </div>
            </a>
         </div>
      {% endfor %}
   </div>

   {# sliderControls #}
   <div id="{{ sliderControls }}" class="tns-controls d-flex position-absolute end-0 pt-4 pe-5">
      <div id="{{ sliderControlsPrev }}" class="btn-prev">
         <img src="/assets/img/_system/prev.svg" width="65px" alt="{{'Grafikbuam - Webdesigner und Grafiker - Prev Icon'}}">
      </div>
      <div id="{{ sliderControlsNext }}" class="btn-next pt-3 pt-xl-4">
         <img src="/assets/img/_system/next.svg" width="65px" alt="{{'Grafikbuam - Webdesigner und Grafiker - Next Icon'}}">
      </div>
   </div>

</div>
