{% set headline = content.headline ?? null %}
{% set text = content.text ?? null %}

{% set portfolio = craft.entries.section('portfolio').all %}

<div class="container-fluid bg-dark rounded-5 p-4 p-lg-7 text-white">
   <div class="container">
      <div class="row pb-7">
         <div class="col-6">
            <h3 class="h1">{{ headline }}</h3>
         </div>
         <div class="col-6">
            <p{{ text }}</p>
         </div>
      </div>
   </div>
</div>
<div class="container mt-n7 px-5">
   <div class="row row-cols-4 mt-n7">
      {% for item in portfolio %}
         {% set title = item.title ?? null %}
         {% set portfolioSubtitle = item.portfolioSubtitle ?? null %}
         {% set link = item.portfolioUrl ?? null %}
         {% set image = item.portfolioImage.one() ?? null %}
         <div class="col">
            <a href="{{link}}" target="_blank" alt="{{title ~ '-' ~ portfolioSubtitle}}" title="{{'Details' ~ ' ' ~ title ~ ' anzeigen'}}">
               <div class="{% if item.backgroundSwitch %} bg-dark {% else %} bg-light{% endif %} py-5 portfolio_card" width="100%">
                  <div class="portfolio_card__overlay">
                     <div class="portfolio_card__title p-4">
                        <h4>{{ title ?? null }}</h4>
                        <p>{{ portfolioSubtitle ?? null }}</p>
                     </div>
                  </div>
                  <img src="{{ image.getUrl() }}" height="150px" style="object-fit:contain" alt="{{image.title ?? null}}">
               </div>
            </a>
         </div>
      {% endfor %}
   </div>
</div>
