{% set headline = content.headline ?? null %}
{% set text = content.text ?? null %}

{% set serviceCategories = craft.categories
      .group("serviceCategory")
      .all()
   %}

{# sliderSettings #}
{% set sliderName = "js-slider-" ~ opt.sliderName ?? 'default' %}
{% set sliderControls = sliderName ~ '--controls' %}
{% set sliderControlsPrev = sliderName ~ '--controls-prev' %}
{% set sliderControlsNext = sliderName ~ '--controls-next' %}

<div class="mx-5">
   <div class="container-fluid bg-petrol rounded-5 p-4 p-lg-7 text-white">
      <div class="container">
         <div class="row pb-7">
            <div class="col-6">
               <h3 class="h1">{{ headline }}</h3>
            </div>
            <div class="col-6">
               <p{{ text }}</p>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fluid px-0 position-relative mt-n7">
   <div id="{{ sliderName }}" class="d-flex">

   {% for category in serviceCategories %}
   {% set services = craft.entries.section('services').relatedTo(category).all %}
      <div class="item">
         <div class="bg-dark rounded-4 p-5 text-white">
            <h4>{{ category.title }}</h4>
            <div class="pt-4">
               {% for service in services %}
                  {% if service.portfolioDetails %}
                     <a href="{{service.getUrl}}" class="text-light d-block" title="Leistung {{service.title}} bei Grafikbuam">{{ service.title }}</a>
                     {% else %}
                     <span class="text-light d-block">{{ service.title }}</span>
                  {% endif %}
                  
               {% endfor %}
            </div>
         </div>
      </div>
      {% endfor %}
      
   </div>

   {# sliderControls #}
   <div id="{{ sliderControls }}" class="tns-controls d-flex position-absolute end-0 pt-4 pe-5">
      <div id="{{ sliderControlsPrev }}" class="btn-prev">
         <img src="/assets/img/_system/prev.svg" width="65px" alt="{{'Grafikbuam - Webdesigner und Grafiker - Prev Icon'}}">
      </div>
      <div id="{{ sliderControlsNext }}" class="btn-next pt-3 pt-xl-4">
         <img src="/assets/img/_system/next.svg" width="65px" alt="{{'Grafikbuam - Webdesigner und Grafiker - Next Icon'}}">
      </div>
   </div>

</div>
